<mat-toolbar color="primary">
  <button mat-icon-button (click)="cancel()"><mat-icon>arrow_back</mat-icon></button>
  <span>{{ isEdit ? 'Editar Task' : 'Nova Task' }}</span>
</mat-toolbar>

<div class="container">
  
  <mat-card>
      <div style="display: flex;justify-content: center; width: 100%;">
      <form [formGroup]="form" (ngSubmit)="submit()">

        <mat-form-field appearance="outline" class="full">
          <mat-label>Título</mat-label>
          <input matInput formControlName="title" />
        <mat-error *ngIf="form.controls['title'].hasError('required')">
          Título obrigatório
        </mat-error>
        <mat-error *ngIf="form.controls['title'].hasError('maxlength')">
          Título muito longo
        </mat-error>
      </mat-form-field>
      <br /><br />
      <mat-form-field appearance="outline" class="full">
        <mat-label>Descrição</mat-label>
        <textarea matInput formControlName="description" rows="4"></textarea>
      </mat-form-field>
<br />
<br />
      <mat-checkbox formControlName="isDone">Concluído</mat-checkbox>

      <div class="actions">
        <button mat-button type="button" (click)="cancel()">Cancelar</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="loading">
          {{ isEdit ? 'Salvar' : 'Criar' }}
        </button>
      </div>
    </form>
  </div>
  </mat-card>
</div>
